* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  background-color: #f8f8f8;
  font-family: 'Play', sans-serif;
  background-color: whitesmoke;
    
}
.container {
  width: 1000px;
  min-height: 100%;
  margin: 50px auto;
}

#send {
	size: 40 !important;
    margin: 5px;
}
#clear {
	size: 40;
    margin: 5px;
    
}

.form-control{
	size: 20 !important;;
    margin: 5px;
}

#task_field {
    padding: 20px 5px;
    width: 1000px;
    height: 300px;
}

p {
    margin-left: 10px;
	display: inline;
    font-size: 26px;
}

input.task  {
	margin: 5px 15px 5px 10px;
}

input[type='checkbox'] {

}

#all {
    margin-left: 7px;
    font-size: 30px;
    color: red;
}

#finished {
    margin-right: 5px;
    font-size: 30px;
    color: red;
}

.remaining p {
    margin-left: 5px;
}